﻿@model ShopAndDrop.Models.Admin.index

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shope & Drop | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../templ/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../templ/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../templ/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <!--<a href="login.html"><b>Admin</b>Shope & Drop</a>-->
            <a href="index.cshtml" class="brand-link">
                <img src="../templ/dist/img/shop-and-drop-logo.png" alt="Shope & Drop Logo" class="w-50 brand-logo">
                <!--<span class="brand-text font-weight-light">Shope & Drop</span>-->
            </a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <div class="input-group mb-3">
                        @*<input type="email" class="form-control" placeholder="Email">*@
                        @Html.TextBoxFor(model => model.email, new { @class = "form-control", @placeholder = "Email" })
                        @*<div> <br />@Html.ValidationMessageFor(model => model.email)</div>*@

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @*<input type="password" class="form-control" placeholder="Password">*@
                        @Html.TextBoxFor(model => model.password, new { @class = "form-control", @type = "password", @placeholder = "Password" })
                        @*<div> <br />@Html.ValidationMessageFor(model => model.password)</div>*@

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                          <input type="submit" class="btn btn-primary btn-block btn-flat" value="Sign In" />

                        </div>
                    </div>
                }
                <!-- /.social-auth-links -->
                <p class="mb-1">
                    <a href="#">I forgot my password</a>
                </p>
                
            </div>
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="../templ/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../templ/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../templ/dist/js/adminlte.min.js"></script>

</body>
</html>
