﻿@model ShopAndDrop.Models.Admin.Home
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/adminmaster.cshtml";
    @section Scripts{
        <script>
            function loadstorechart1() {

                $('#topstore').DataTable({
                    "bFilter": false,
                    "bPaginate": false,
                    "bInfo": false,
                    "bAutoWidth": true,
                    "ajax": {
                        "url": "/Home/loadstorechart1",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                      { "data": "name", "autoWidth": true },
                      { "data": "s_id", "autoWidth": true }
                    ]

                });
            }
            function loaddriverchart1() {
                $('#topdriver').DataTable({
                    "bFilter": false,
                    "bPaginate": false,
                    "bInfo": false,
                    "bAutoWidth": true,
                    "ajax": {
                        "url": "/Home/loaddriverchart1",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [

                            { "data": "d_fname", "autoWidth": true },
                            { "data": "email", "autoWidth": true }

                    ]
                });
            }
            $(document).ready(function () {
                loadstorechart1();
                loaddriverchart1();
            })

        </script>}

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("../Home/Home")">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@Model.countorder</h3>
                            <p>Orders</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>@Model.countcust</h3>
                            <p>Customers</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>@Model.countstore</h3>
                            <p>Stores</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-store"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>@Model.countdriver</h3>
                            <p>Drivers</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-car"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-12 connectedSortable">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-chart-pie mr-1"></i>
                                Sales
                            </h3>
                            <!--<div class="card-tools">
                                <ul class="nav nav-pills ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
                                    </li>
                                </ul>
                            </div>-->
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content p-0">
                                <!-- Morris chart - Sales -->
                                <div class="chart tab-pane active" id="revenue-chart"
                                     style="position: relative; height: 300px;">
                                    <canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas>
                                </div>

                            </div>
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!--/.direct-chat -->
                    <!-- TO DO List -->
                    <!-- /.card -->
                </section>
                <!-- /.Left col -->
                <!-- right col (We are only adding the ID to make the widgets sortable)-->
            </div>
            <div class="row">
                <div class="col-lg-12 connectedSortable">
                    <!-- Map card -->
                    <div class="card bg-gradient-primary  d-none">
                        <div class="card-header border-0">
                            <h3 class="card-title">
                                <i class="fas fa-map-marker-alt mr-1"></i>
                                Visitors
                            </h3>
                            <!-- card tools -->
                            <div class="card-tools">
                                <button type="button"
                                        class="btn btn-primary btn-sm daterange"
                                        data-toggle="tooltip"
                                        title="Date range">
                                    <i class="far fa-calendar-alt"></i>
                                </button>
                                <button type="button"
                                        class="btn btn-primary btn-sm"
                                        data-card-widget="collapse"
                                        data-toggle="tooltip"
                                        title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <div class="card-body">
                            <div id="world-map" style="height: 250px; width: 100%;"></div>
                        </div>
                        <!-- /.card-body-->
                        <div class="card-footer bg-transparent">
                            <div class="row">
                                <div class="col-4 text-center">
                                    <div id="sparkline-1"></div>
                                    <div class="text-white">Visitors</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-4 text-center">
                                    <div id="sparkline-2"></div>
                                    <div class="text-white">Online</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-4 text-center">
                                    <div id="sparkline-3"></div>
                                    <div class="text-white">Sales</div>
                                </div>
                                <!-- ./col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.card -->
                    <!-- solid sales graph -->
                    <div class="card">
                        <div class="card-header border-0">
                            <h3 class="card-title">
                                <i class="fas fa-wallet mr-1"></i>
                                Earning
                            </h3>

                        </div>
                        <div class="card-body">
                            @*<canvas id="lineChart" style="height:250px; min-height:250px"></canvas>*@
                            <canvas id="linehart" style="height:250px; min-height:250px"></canvas>
                        </div>
                        <!-- /.card-body -->
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                    <!-- Calendar -->
                    <!-- /.card -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card card-danger">
                        <div class="card-header bg-white">
                            <h3 class="card-title">
                                <i class="fas fa-layer-group mr-1"></i>
                                Delivery Status
                            </h3>

                        </div>
                        <div class="card-body">
                            <canvas id="donutChart2" style="height:230px; min-height:230px"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"> <i class="fas fa-store mr-1"></i>  Top Stores</h3>
                                <a href="@Url.Action("../Stores/Stores")" class="btn btn-sm btn-secondary float-right">View stores</a>
                             
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover" id="topstore">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Orders</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                           
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-car mr-1"></i>  Top Drivers</h3>
                           
                                <a href="@Url.Action("../Drivers/Drivers")" class="btn btn-sm btn-secondary float-right">View Drivers</a>
                           
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover" id="topdriver">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Trips</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                @*<div class="col-lg-4">
                    <div class="card card-danger">
                        <div class="card-header bg-white">
                            <h3 class="card-title">
                                <i class="fas fa-store mr-1"></i>
                                Top Stores
                            </h3>

                        </div>
                        <div class="card-body">
                            <canvas id="donutChart" style="height:230px; min-height:230px"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-danger">
                        <div class="card-header bg-white">
                            <h3 class="card-title">
                                <i class="fas fa-car mr-1"></i>
                                Top Drivers
                            </h3>

                        </div>
                        <div class="card-body">
                            <canvas id="donutChart1" style="height:230px; min-height:230px"></canvas>
                        </div>
                    </div>
                </div>*@

            </div>
            <!-- right col -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- AREA CHART -->
                            <div class="card card-primary d-none">
                                <div class="card-header">
                                    <h3 class="card-title">Area Chart</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="chart">
                                        <canvas id="areaChart" style="height:250px; min-height:250px"></canvas>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!-- DONUT CHART -->
                            <!-- /.card -->
                            <!-- PIE CHART -->
                            <div class="card card-danger d-none">
                                <div class="card-header">
                                    <h3 class="card-title">Pie Chart</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <canvas id="pieChart" style="height:230px; min-height:230px"></canvas>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col (LEFT) -->
                        <div class="col-md-6 d-none">
                            <!-- LINE CHART -->
                            <div class="card card-info">
                                <div class="card-header">
                                    <h3 class="card-title">Line Chart</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="chart">
                                        <canvas id="lineChart" style="height:250px; min-height:250px"></canvas>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!-- BAR CHART -->
                            <div class="card card-success">
                                <div class="card-header">
                                    <h3 class="card-title">Bar Chart</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="chart">
                                        <canvas id="barChart" style="height:230px; min-height:230px"></canvas>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!-- STACKED BAR CHART -->
                            <div class="card card-success">
                                <div class="card-header">
                                    <h3 class="card-title">Stacked Bar Chart</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="chart">
                                        <canvas id="stackedBarChart" style="height:230px; min-height:230px"></canvas>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col (RIGHT) -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                     
                    </div>
                </div><!-- /.container-fluid -->
            </section>

        </div>
        <!-- /.row (main row) -->
        <!-- /.container-fluid -->
    </section>

</div>

<!-- /.content -->
<!-- /.content -->
<!-- jQuery -->
<script src="../templ/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../templ/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="../templ/plugins/chart.js/Chart.min.js"></script>
<!-- AdminLTE App -->
<script src="../templ/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../templ/dist/js/demo.js"></script>
<!-- page script -->
<!--my Line chart-->
<script>
    //$(function () {
    //  /* ChartJS
    //   * -------
    //   * Here we will create a few charts using ChartJS
    //   */

    //  //--------------
    //  //- AREA CHART -
    //  //--------------

    //  // Get context with jQuery - using jQuery's .get() method.
    //  var areaChartCanvas = $('#areaChart').get(0).getContext('2d')

    //  var areaChartData = {
    //    labels  : ['January', 'February', 'March', 'April', 'May', 'June', 'July','August','September','October','November','December'],
    //    datasets: [
    //      {
    //        label               : 'Digital',
    //        backgroundColor     : 'rgba(0,0,0,1)',
    //        borderColor         : 'rgba(60,141,188,0.8)',
    //        pointRadius          : false,
    //        pointColor          : '#3b8bba',
    //        pointStrokeColor    : 'rgba(60,141,188,1)',
    //        pointHighlightFill  : '#fff',
    //        pointHighlightStroke: 'rgba(60,141,188,1)',
    //        data                : [28, 48, 40, 19, 86, 27, 90,70,30,50,40,90]
    //      }

    //    ]
    //  }

    //  var areaChartOptions = {
    //    maintainAspectRatio : false,
    //    responsive : true,
    //    legend: {
    //      display: false
    //    },
    //    scales: {
    //      xAxes: [{
    //        gridLines : {
    //          display : false,
    //        }
    //      }],
    //      yAxes: [{
    //        gridLines : {
    //          display : false,
    //        }
    //      }]
    //    }
    //  }

    //  // This will get the first returned node in the jQuery collection.
    //  var areaChart       = new Chart(areaChartCanvas, {
    //    type: 'line',
    //    data: areaChartData,
    //    options: areaChartOptions
    //  })

    //  //-------------
    //  //- LINE CHART -
    //  //--------------
    //  var lineChartCanvas = $('#lineChart').get(0).getContext('2d')
    //  var lineChartOptions = jQuery.extend(true, {}, areaChartOptions)
    //  var lineChartData = jQuery.extend(true, {}, areaChartData)
    //  lineChartData.datasets[0].fill = false;
    //  //lineChartData.datasets[1].fill = false;
    //  lineChartOptions.datasetFill = false

    //  var lineChart = new Chart(lineChartCanvas, {
    //    type: 'line',
    //    data: lineChartData,
    //    options: lineChartOptions
    //  })

    //  //-------------
    //  //- DONUT CHART -
    //  //-------------
    //  // Get context with jQuery - using jQuery's .get() method.
    //  var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
    //  var donutData        = {
    //    labels: [
    //        'Food Delivery',
    //        'Grocery Delivery',
    //        'Wine Delivery',
    //        'Stationery Delivery',
    //    ],
    //    datasets: [
    //      {
    //        data: [700,500,400,600],
    //        backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef'],
    //      }
    //    ]
    //  }
    //  var donutOptions     = {
    //    maintainAspectRatio : false,
    //    responsive : true,
    //  }
    //  //Create pie or douhnut chart
    //  // You can switch between pie and douhnut using the method below.
    //  var donutChart = new Chart(donutChartCanvas, {
    //    type: 'doughnut',
    //    data: donutData,
    //    options: donutOptions
    //  })

    //  //-------------
    //  //- PIE CHART -
    //  //-------------
    //  // Get context with jQuery - using jQuery's .get() method.
    //  var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
    //  var pieData        = donutData;
    //  var pieOptions     = {
    //    maintainAspectRatio : false,
    //    responsive : true,
    //  }
    //  //Create pie or douhnut chart
    //  // You can switch between pie and douhnut using the method below.
    //  var pieChart = new Chart(pieChartCanvas, {
    //    type: 'pie',
    //    data: pieData,
    //    options: pieOptions
    //  })

    //  //-------------
    //  //- BAR CHART -
    //  //-------------
    //  var barChartCanvas = $('#barChart').get(0).getContext('2d')
    //  var barChartData = jQuery.extend(true, {}, areaChartData)
    //  var temp0 = areaChartData.datasets[0]
    //  var temp1 = areaChartData.datasets[1]
    //  barChartData.datasets[0] = temp1
    //  barChartData.datasets[1] = temp0

    //  var barChartOptions = {
    //    responsive              : true,
    //    maintainAspectRatio     : false,
    //    datasetFill             : false
    //  }

    //  var barChart = new Chart(barChartCanvas, {
    //    type: 'bar',
    //    data: barChartData,
    //    options: barChartOptions
    //  })

    //  //---------------------
    //  //- STACKED BAR CHART -
    //  //---------------------
    //  var stackedBarChartCanvas = $('#stackedBarChart').get(0).getContext('2d')
    //  var stackedBarChartData = jQuery.extend(true, {}, barChartData)

    //  var stackedBarChartOptions = {
    //    responsive              : true,
    //    maintainAspectRatio     : false,
    //    scales: {
    //      xAxes: [{
    //        stacked: true,
    //      }],
    //      yAxes: [{
    //        stacked: true
    //      }]
    //    }
    //  }

    //  var stackedBarChart = new Chart(stackedBarChartCanvas, {
    //    type: 'bar',
    //    data: stackedBarChartData,
    //    options: stackedBarChartOptions
    //  })
    //})

    //  //Chart data
    function loadearningchart() {
        $.ajax({
            type: "POST",
            url: "/Home/Earningchart",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (chData) {
                var aData = chData;
                var aLabels = aData[0];
                var aDatasets1 = aData[1];
                var dataT = {
                    labels: aLabels,
                    datasets: [{
                        label: "Months",
                        data: aDatasets1,
                        fill: false,
                        //backgroundColor: 'rgba(0,0,0,1)',
                        borderColor: 'rgba(60,141,188,0.8)'

                    }]
                };
                var ctx = $("#linehart").get(0).getContext("2d");
                var myNewChart = new Chart(ctx, {
                    type: 'line',
                    data: dataT,
                    // options: lineChartOptions
                    options: {
                        responsive: true,
                        title: { display: true, text: 'Earning' },
                        legend: { position: 'bottom' },
                        scales: {
                            xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' } }],
                            yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { stepSize: 50, beginAtZero: true } }]

                        },
                    }
                });
            }
        });
    }
    function loadsaleschart() {
        $.ajax({
            type: "POST",
            url: "/Home/Saleschart",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (chData) {
                var aData = chData;
                var aLabels = aData[0];
                var aDatasets1 = aData[1];
                var dataT = {
                    labels: aLabels,
                    datasets: [{
                        label: "Months",
                        data: aDatasets1,
                        fill: true,
                        backgroundColor: 'rgba(60,141,188,1)',
                        borderColor: 'rgba(60,141,188,0.8)',
                        pointRadius: false,
                        pointColor: '#3b8bba',
                        pointStrokeColor: 'rgba(60,141,188,1)',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)'

                    }]
                };
                var ctx = $("#revenue-chart-canvas").get(0).getContext("2d");
                var myNewChart = new Chart(ctx, {
                    type: 'line',
                    data: dataT,
                    options: {
                        responsive: true,
                        title: { display: true, text: 'Sales' },
                        legend: { position: 'bottom' },
                        scales: {
                            xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' } }],
                            yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { stepSize: 50, beginAtZero: true } }]

                        },
                    }
                });
            }
        });
    }

    //function loadstorechart()
    //{
    //    $.ajax({
    //        type: "POST",
    //        url: "/Home/loadstorechart",
    //        contentType: "application/json; charset=utf-8",
    //        dataType: "json",
    //        success: function (chData) {
    //            var aData = chData;
    //            var aLabels = aData[0];
    //            var aDatasets1 = aData[1];
    //            var dataT = {
    //                labels: aLabels,
    //                datasets: [{
    //                    data: aDatasets1,
    //                    backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef','#337cfe']

    //                }]
    //            };
    //            var ctx = $("#donutChart").get(0).getContext("2d");
    //            var myNewChart = new Chart(ctx, {
    //                type: 'pie',
    //                data: dataT,
    //                options: {
    //                    responsive: true,
    //                    maintainAspectRatio:false
    //                }
    //            });
    //        }
    //    });
    //}

    //function loaddriverchart() {
    //    $.ajax({
    //        type: "POST",
    //        url: "/Home/loaddriverchart",
    //        contentType: "application/json; charset=utf-8",
    //        dataType: "json",
    //        success: function (chData) {
    //            var aData = chData;
    //            var aLabels = aData[0];
    //            var aDatasets1 = aData[1];
    //            var dataT = {
    //                labels: aLabels,
    //                datasets: [{
    //                    data: aDatasets1,
    //                    backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#337cfe']

    //                }]
    //            };
    //            var ctx = $("#donutChart1").get(0).getContext("2d");
    //            var myNewChart = new Chart(ctx, {
    //                type: 'pie',
    //                data: dataT,
    //                options: {
    //                    responsive: true,
    //                    maintainAspectRatio: false
    //                }
    //            });
    //        }
    //    });
    //}
    function loadstatuschart() {
        $.ajax({
            type: "POST",
            url: "/Home/loadstatuschart",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (chData) {
                var aData = chData;
                var aLabels = aData[0];
                var aDatasets1 = aData[1];
                var dataT = {
                    labels: aLabels,
                    datasets: [{
                        data: aDatasets1,
                        backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#337cfe', '#6610f2']

                    }]
                };
                var ctx = $("#donutChart2").get(0).getContext("2d");
                var myNewChart = new Chart(ctx, {
                    type: 'pie',
                    data: dataT,
                    options: {
                        responsive: true,
                        maintainAspectRatio: false
                    }
                });
            }
        });
    }
    $(document).ready(function () {
        loadearningchart();
        loadsaleschart();
        //  loadstorechart();
        //loaddriverchart();
        loadstatuschart();
    })



</script>