﻿@model IEnumerable<ShopAndDrop.Models.Admin.Drivers>

@{
    ViewBag.Title = "Drivers";
    Layout = "~/Views/Shared/adminmaster.cshtml";
}

@section Scripts{

    <script>
           function convertToDate(data) {
               // The 6th+ positions contain the number of milliseconds in Universal Coordinated Time between the specified date and midnight January 1, 1970.
               var dtStart = new Date(parseInt(data.substr(6)));
               // Format using moment.js.
               var dtStartWrapper = moment(dtStart);
               return dtStartWrapper.format('DD/MM/YYYY');
           }
    
     function LoadDriverData() {
         $('#example1').DataTable({
             "ajax": {
                 "url": "/Drivers/getDrivers",
                 "type": "GET",
                 "datatype": "json"
             },
             "columns": [
                     { "data": "d_id", "autoWidth": true },
                     { "data": "d_fname", "autoWidth": true },
                     { "data": "d_lname", "autoWidth": true },
                     { "data": "email", "autoWidth": true },
                     { "data": "phone", "autoWidth": true },
                      {
                          "data": "reg_date",
                          "render": function (data) { return convertToDate(data); }
                      },
                     {
                         "data": "profile_image",
                         "render": function (data) {

                             return '<img src="/image/' + data + '" style="height:30px;width:30px;"/>';

                         }
                     }
                     ,
                    {
                        "data": "d_id",
                        "render": function (data, type, full, meta) {
                            return '<a href="@Url.Action("editDrivers","Drivers")?d_id=' + data + '" class="btn btn-info btn-sm"><i class="fas fa-pencil-alt"></i>Edit</a>';
                        }
                    }

             ]
         });
     }
       LoadDriverData();


    </script>}

}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Drivers</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="Home.aspx">Home</a></li>
                        <li class="breadcrumb-item active">Drivers</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Total Drivers</span>
                            <span class="info-box-number">
                                50,000
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Pending Orders</span>
                            <span class="info-box-number">25,000</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <!-- fix for small devices only -->
                <div class="clearfix hidden-md-up"></div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Completed Orders</span>
                            <span class="info-box-number">22,000</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Canceled Order</span>
                            <span class="info-box-number">3,000</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
    <section class="content">
        <div class="row">
            <div class="col-12">


                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Orders</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    
                                    <th>DriverID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Date</th>
                                    <th>Profile Image</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.order.oid</td>
                                        <td>@item.store1.s_id</td>
                                        <td>@item.order.oid</td>
                                        <td>@item.store1.s_id</td>
                                        <td>@item.order.oid</td>
                                        <td>@item.store1.s_id</td>
                                        <td>@item.order.oid</td>
                                    </tr>
                                }*@
                            </tbody>

                            <tfoot>
                                <tr>
                                    <th>DriverID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Date</th>
                                    <th>Profile Image</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>

