﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Shope & Drop | Dashboard</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="../templ/plugins/fontawesome-free/css/all.min.css" />
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        <!-- Tempusdominus Bbootstrap 4 -->
        <link rel="stylesheet" href="../templ/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
        <!-- iCheck -->
        <link rel="stylesheet" href="../templ/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
        <!-- JQVMap -->
        <link rel="stylesheet" href="../templ/plugins/jqvmap/jqvmap.min.css" />
        <!-- Theme style -->
        <link rel="stylesheet" href="../templ/dist/css/adminlte.min.css" />
        <link rel="stylesheet" href="../templ/dist/css/custom.css">
        <!-- Fonts -->
        <link rel="stylesheet" href="../templ/dist/css/fonts.css">
        <!-- overlayScrollbars -->
        <link rel="stylesheet" href="../templ/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" />
        <!-- Daterange picker -->
        <link rel="stylesheet" href="../templ/plugins/daterangepicker/daterangepicker.css" />
        <!-- summernote -->
        <link rel="stylesheet" href="../templ/plugins/summernote/summernote-bs4.css" />
        <!-- DataTables -->
        <link rel="stylesheet" href="../templ/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" />
        
        @RenderSection("head", required: false)
    </head>
    <body  class="hold-transition sidebar-mini layout-fixed"><form id="form1">

    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">

            <!-- Sidebar user panel (optional) -->
            <div class="user-panel my-2 ml-auto d-flex">
                <div class="image">
                    <img src="../templ/dist/img/user2-160x160.jpg" class="img-circle border shadow-sm" alt="User Image">
                </div>
                <div class="info"> <a href="#" class="d-block">@*@Model.firstname*@ 
                   </a> </div>
            </div>





        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link bg-white">
                <img src="../templ/dist/img/shop-and-drop-logo.png" alt="Shope & Drop Logo" class="w-75 brand-logo">
                <!--<span class="brand-text font-weight-light">Shope & Drop</span>-->
            </a>
            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar Menu -->
                <nav class="">
                    <ul class="nav nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                                                     with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview menu-open">
                            <a href="@Url.Action("../Home/Home")" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p> Dashboard </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="@Url.Action("../Orders/Orders")" class="nav-link">
                                <i class="nav-icon fas fa-shopping-bag"></i>
                                <p> Orders </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="@Url.Action("../Stores/Stores")" class="nav-link">
                                <i class="nav-icon fas fa-store"></i>
                                <p> Stores </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="@Url.Action("../Customer/Customers")" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p> Customers </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="@Url.Action("../Drivers/Drivers")" class="nav-link">
                                <i class="nav-icon fas fa-car"></i>
                                <p> Drivers </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="@Url.Action("../Users/Users")" class="nav-link">
                                <i class="nav-icon fas fa-user-friends"></i>
                                <p> Users </p>
                            </a>
                        </li>
                        @*<li class="nav-item has-treeview">
                            <a href="@Url.Action("../Servicetype/Servicetype")" class="nav-link">
                                <i class="nav-icon fas fa-layer-group"></i>
                                <p> Service Type </p>
                            </a>
                        </li>*@
                        <li class="nav-item has-treeview">
                            <a href="@Url.Action("../Reports/Reports")" class="nav-link">
                                <i class="nav-icon fas fa-chart-bar"></i>
                                <p> Reports </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="@Url.Action("../Settig/Setting")" class="nav-link">
                                <i class="nav-icon fas fa-cog"></i>
                                <p> Setting </p>
                            </a>
                        </li>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

    </div>
    <!-- /.content-wrapper -->
    <div>
        @RenderBody()
    </div>
    <footer class="main-footer">
        <strong>Copyright &copy; 2019 <a href="@Url.Action("../Home/Home")">Shope & Drop</a>.</strong>
        All rights reserved.
        @* <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 3.0.0-rc.5
        </div>*@
    </footer>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="../templ/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="../templ/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
  $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="../templ/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="../templ/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="../templ/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="../templ/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="../templ/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="../templ/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="../templ/plugins/moment/moment.min.js"></script>
    <script src="../templ/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="../templ/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="../templ/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="../templ/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../templ/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="../templ/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../templ/dist/js/demo.js"></script>
    <!-- DataTables -->
    <script src="../templ/plugins/datatables/jquery.dataTables.js"></script>
    <script src="../templ/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
  
          <script>
    $(function () {

    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
    });

    </script>
 @RenderSection("scripts", required: false)
</form>
      
    </body>
</html>
