﻿@model ShopAndDrop.Models.Admin.Users

@{
    ViewBag.Title = "editUser";
    Layout = "~/Views/Shared/adminmaster.cshtml";
}

<h2>editUser</h2>
@using (Html.BeginForm())
{ 
    @Html.ValidationSummary(true)
       
<fieldset>
    <legend style="background-color: #33CC33">Fields</legend>
    <div class="editor-label">
        @Html.LabelFor(model => model.u_id)
    </div>
    <div class="editor-field">
        @Html.LabelFor(model => model.u_id)
        @Html.ValidationMessageFor(model => model.u_id)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.first_name)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.first_name)
        @Html.ValidationMessageFor(model => model.first_name)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.last_name)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.last_name)
        @Html.ValidationMessageFor(model => model.last_name)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.email)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.email)
        @Html.ValidationMessageFor(model => model.email)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.phone)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.phone)
        @Html.ValidationMessageFor(model => model.phone)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.photo)
    </div>
    <div class="editor-field">
        <input id="photo" type="file" /> 
    </div>
    <p>
        <input type="submit" value="Create" style="background-color: #FF99CC" />
    </p>
</fieldset>
}
